[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
test = 'test'
cache = true

solc_version = '0.8.26'
evm_version = 'paris'
optimizer = true
optimizer_runs = 4294967295
via_ir = false
bytecode_hash = 'none'
sparse_mode = true
ignored_error_codes = [3860, 5574]

verbosity = 2
ffi = false
fs_permissions = [{ access = "read", path = "./script" }]

[fuzz]
runs = 256
seed = "42"

[invariant]
runs = 64
depth = 16
fail_on_revert = false

[profile.lite]
optimizer_runs = 200
via_ir = false

[profile.lite.fuzz]
runs = 16

[profile.lite.invariant]
runs = 16

[rpc_endpoints]
mainnet = "${MAINNET_RPC_URL}"
arbitrum_one = "${ARBITRUM_RPC_URL}"
optimism = "${OPTIMISM_RPC_URL}"
polygon = "https://polygon-rpc.com"
base = "${BASE_RPC_URL}"
bnb = "https://bsc-dataseed1.defibit.io"
avalanche = "https://avalanche.public-rpc.com"
scroll = "${SCROLL_RPC_URL}"
manta = "https://1rpc.io/manta"

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
